spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cardsdb
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
  liquibase:
    change-log: classpath:db/migration/changelog-master.yaml